@supports (animation-timeline: view()) {
    [scroll-animation] {
        animation-timeline: view();
        animation-range: entry 10% cover 40%;
        animation-fill-mode: both;
    }

    [scroll-animation="scale"] {
        animation-name: scale;
    }

    [scroll-animation="slide-inline-start"] {
        animation-name: slide-inline-start;
    }

    [scroll-animation="slide-inline-end"] {
        animation-name: slide-inline-end;
    }

    [scroll-animation="slide-block-end"] {
        animation-name: slide-block-end;
    }
}

@keyframes scale {
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes slide-inline-start {
    from {
        opacity: 0;
        translate: -100% 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-inline-end {
    from {
        opacity: 0;
        translate: 100% 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-block-end {
    from {
        opacity: 0;
        translate: 0 100%;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}
