@supports (animation-timeline: view()) {
    [scroll-animation],
    [scroll-animation-leave] {
        animation-timeline: view();
        animation-range: entry 0% contain 40%;
        animation-fill-mode: both;
    }
    [scroll-animation-leave] {
        animation-range: contain 60% exit 100%;
    }

    [scroll-animation="scale"] {
        animation-name: scale;
    }
    [scroll-animation-leave="scale"] {
        animation-name: scale-leave;
    }

    [scroll-animation="slide-inline-start"] {
        animation-name: slide-inline-start;
    }
    [scroll-animation-leave="slide-inline-start"] {
        animation-name: slide-inline-start-leave;
    }

    [scroll-animation="slide-inline-end"] {
        animation-name: slide-inline-end;
    }
    [scroll-animation-leave="slide-inline-end"] {
        animation-name: slide-inline-end-leave;
    }

    [scroll-animation="slide-block-end"] {
        animation-name: slide-block-end;
    }
    [scroll-animation-leave="slide-block-end"] {
        animation-name: slide-block-end-leave;
    }
}

@keyframes scale {
    from {
        opacity: 0;
        scale: .5;
    }
}

@keyframes scale-leave {
    to {
        opacity: 0;
        scale: 1.5;
    }
}

@keyframes slide-inline-start {
    from {
        opacity: 0;
        translate: -100% 0;
    }
}
@keyframes slide-inline-start-leave {
    to {
        opacity: 0;
        translate: -100% 0;
    }
}

@keyframes slide-inline-end {
    from {
        opacity: 0;
        translate: 100% 0;
    }
}
@keyframes slide-inline-end-leave {
    to {
        opacity: 0;
        translate: 100% 0;
    }
}

@keyframes slide-block-end {
    from {
        opacity: 0;
        translate: 0 100%;
    }
}
@keyframes slide-block-end-leave {
    to {
        opacity: 0;
        translate: 0 100%;
    }
}
