* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%; // 16px
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: var(--line-height);
    background-color: var(--clr-bg);
    color: var(--clr-txt);
}

p + p {
    margin-block-start: var(--spacing);
}

a {
    color: var(--clr-accent);
    text-decoration: none;

    &:hover {
        color: var(--clr-accent-alt);
        text-decoration: underline;
    }
}

a:focus-visible,
button:focus-visible,
[tabindex]:focus-visible,
summary:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-width);
}

hr {
    border: none;
    border-top: 1px solid var(--clr-border);
    margin: var(--spacing-lg) auto;
    width: calc(100% - 2rem);
}

img {
    max-width: 100%;
    height: auto;
}

main {
    flex: 1;
    padding-block: var(--spacing-xl);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--clr-fg);
    margin-block-end: 1em;
}

ul, ol {
    list-style-position: inside;
}
