:root {
    color-scheme: light dark;

    // --- Personalized "Dracula soft" palet
    --clr-bg: light-dark(hsl(230 15% 97%), hsl(230 15% 12%));
    --clr-bg-alt: light-dark(hsl(230 15% 94%), hsl(230 15% 16%));
    --clr-bg-transparent: light-dark(hsl(230 15% 94% / 0.9), hsl(230 15% 16% / 0.9));
    --clr-bg-transparent-blur: light-dark(hsl(230 15% 94% / 0.75), hsl(230 15% 16% / 0.75));
    --clr-fg: light-dark(hsl(230 15% 10%), hsl(230 15% 96%));
    --clr-txt: light-dark(hsl(230 10% 40%), hsl(230 10% 60%));
    --clr-border: light-dark(hsl(230 10% 85%), hsl(230 10% 25%));
    --clr-border-alt: light-dark(hsl(230 10% 82%), hsl(230 10% 21%));
    --clr-primary: light-dark(hsl(265 45% 60%), hsl(265 55% 70%));
    --clr-primary-alt: light-dark(hsl(265 35% 45%), hsl(265 45% 60%));
    --clr-accent: light-dark(hsl(195 55% 40%), hsl(195 65% 65%));
    --clr-accent-alt: light-dark(hsl(195 45% 30%), hsl(195 55% 55%));
    --clr-danger: light-dark(hsl(355 60% 45%), hsl(355 70% 65%));
    --clr-light-red: light-dark(hsl(355 85% 90%), hsl(355 25% 25%));

    // --- Other theming stuff
    --rem-base: 22; // 1rem = 22px

    // Spacing
    --spacing-sm: .5rem;
    --spacing: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
    --spacing-xxl: 6rem;

    // typography
    --txt-sm: calc(.75 * 1rem);
    --txt: 1rem;
    --txt-lg: calc(1.5 * 1rem);
    --txt-xl: calc(2 * 1rem);
    --txt-xxl: calc(4 * 1rem);

    --font-family-body: 'Urbanist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-family-heading: 'Galindo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --line-height: 1.6;

    // Boxes
    --border-width: 1px;
    --border: var(--border-width) solid var(--clr-border);
    --border-radius: calc(4 / var(--rem-base) * 1rem); // 4px
    --border-radius-lg: calc(12 / var(--rem-base) * 1rem); // 12px

    --focus-outline-width: 2px;
    --focus-outline-color: var(--clr-primary);
    --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);

    --clr-shadow: light-dark(rgb(0 0 0 / 10%), transparent);
    --shadow: 4px 4px 5px var(--clr-shadow);

    // Buttons
    --btn-min-height-sm: calc(24 / var(--rem-base) * 1rem); // 24px;
    --btn-min-height: calc(36 / var(--rem-base) * 1rem); // 36px;
    --btn-min-height-lg: calc(48 / var(--rem-base) * 1rem); // 48px;
    --btn-icon-size: 1.25em;
    --btn-right-icon-size: var(--_btn-icon-size);
    --btn-right-icon-size: var(--_btn-icon-size);
    --btn-line-height: var(--line-height);

    // Form
    --form-element-spacing-vertical: var(--spacing);
    --form-element-spacing-horizontal: 1rem;
    --form-element-color: inherit;
    --form-element-background-color: var(--clr-bg);
    --form-element-error-color: var(--clr-danger);
    --form-element-error-outline-color: var(--clr-light-red);
    --form-element-placeholder-color: var(--clr-border);
    --form-element-border-color: var(--clr-border);
    --form-element-filled-border-color: var(--clr-txt);
    --form-element-label-color: var(--clr-txt);
    --form-element-label-required-asterisk-color: var(--clr-accent);

    // Miscelineous
    --transition-duration: .3s;
}

// Force theme
[data-theme="light"] { color-scheme: light; }
[data-theme="dark"] { color-scheme: dark; }
