.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

// .container {
//     --_container-margin: var(--spacing);

//     width: min(calc(100% - var(--_container-margin) * 2), map.get(variables.$breakpoints, xl));
//     margin-inline: auto;

//     @media (min-width: map.get(variables.$breakpoints, md)) {
//         --_container-margin: var(--spacing-lg);
//     }
// }

pre.astro-code {
    margin-block: var(--spacing-lg);
    border-radius: var(--border-radius);

    code {
      counter-reset: step;
      counter-increment: step 0;
    }

    code .line {
        &::before {
            position: sticky;
            left: 0;
            z-index: 1;
            content: counter(step);
            counter-increment: step;
            width: 2rem;
            padding-inline-end: var(--spacing);
            margin-inline-end: var(--spacing-lg);
            display: inline-block;
            text-align: end;
            background-color: #3d4052; // Dark background for line numbers based on the dracula bg
        }

        &:first-child::before {
            padding-block-start: var(--spacing);
        }

        &:last-child::before {
            padding-block-end: var(--spacing);
        }
    }
}

.card {
    border: var(--border);
    border-radius: var(--border-radius-lg);
    background-image: url('/images/otis-redding-texture.png');
    background-color: var(--clr-bg-transparent);
    box-shadow: var(--shadow);

    @supports (backdrop-filter: blur(5px)) {
        background-color: var(--clr-bg-transparent-blur);
        backdrop-filter: blur(5px);
    }
}

[data-icon] {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
}
