@view-transition {
    navigation: auto;
}

header {
    view-transition-name: header;
}

main {
    view-transition-name: contents;
}

footer {
    view-transition-name: footer;
}

::view-transition-group(contents) {
    animation-duration: 1s;
}

::view-transition-old(contents) {
    animation-name: fade-out;
}

::view-transition-new(contents) {
    animation-name: fade-in;
    animation-delay: .5s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
