---
import Layout from "../components/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact">
    <hgroup>
        <h1>Contact</h1>

        <p>Vous pouvez me laisser un message :</p>
    </hgroup>

    <hr>

    <ContactForm />
</Layout>
