---
import Layout from "../components/Layout.astro";
import ContactForm from "../components/ContactForm.tsx";
---

<Layout title="Contact">
    <h1>Contact</h1>

    <p>Vous pouvez me laisser un message :</p>

    <hr>

    <ContactForm client:load />
</Layout>
