---
import Layout from "../components/Layout.astro";
import ParcoursTimeline from "../components/ui/ParcoursTimeline.astro";
import { getCollection } from "astro:content";

const formations = await getCollection("formations");
const experiences = await getCollection("experiences");
---

<Layout
    title="Parcours"
    description="Voici mes différentes expériences professionelles ainsi que mon parcours scolaire.">
    <hgroup>
        <h1>Mon parcours</h1>

        <p>Voici mes différentes expériences professionelles ainsi que mon parcours scolaire.</p>
    </hgroup>

    <ParcoursTimeline
        name="Expériences"
        icon="mdi:work"
        items={experiences} />

    <ParcoursTimeline
        name="Formations"
        icon="mdi:school"
        items={formations} />
</Layout>
