<footer class="main-footer">
    <p class="main-footer__text">
        <small>
            <code>&lt;/&gt;</code>
            with ❤️ by Benjamin Caradeuc
            <br>
            © 1990 - {new Date().getFullYear()}
        </small>
    </p>
</footer>

<style lang="scss">
    footer {
        text-align: center;
        padding-block: var(--spacing-lg);

        code {
            color: var(--clr-accent);
        }
    }
</style>
