---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <button
            id="main-menu-toggler"
            class="btn btn--variant-secondary-border">
            <div class="btn__icon">
                <Icon name="mdi:menu" />
            </div>
        </button>

        <ul id="main-menu-nav">
            <li>
                <a
                    class="btn"
                    href="/">
                    Accueil
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/blog/">
                    Blog
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/parcours/">
                    Parcours
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/contact/">
                    Contact
                </a>
            </li>
        </ul>

        <theme-switcher>
            <label class="theme-switcher">
                <span class="sr-only">Dark</span>

                🌚

                <input
                    type="checkbox"
                    role="switch"
                    aria-label="Changer le thème"/>

                🌞

                <span class="sr-only">Light</span>
            </label>
        </theme-switcher>
    </nav>
</header>

<style lang="scss">
    header {
        z-index: 1000;
        position: sticky;
        top: 0;
        background-color: var(--clr-bg-transparent-blur);
        background-image: var(--bg-texture);
        backdrop-filter: blur(10px);
        padding-block: var(--spacing);
        border-block-end: 1px solid var(--clr-border);

        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: top;
        }

        ul {
            display: flex;
            order: 1;
            gap: var(--spacing);
            flex-basis: 100%;
            flex-direction: column;
            align-items: center;
            margin-block: var(--spacing-lg) 0;
            list-style: none;

            &:not([data-mobile-visible]) {
                display: none;
            }
        }

        @media (min-width: 120ch) {
            padding-block: var(--spacing-lg);

            ul {
                order: 0;
                flex-basis: auto;
                flex-direction: row;
                margin-block: 0;

                &, &:not([data-mobile-visible]) {
                    display: flex;
                }
            }

            button {
                display: none;
            }
        }
    }
</style>

<script>
    import './ui/ThemeSwitcher.wc';

    const initBurger = () => {
        const $burger = document.querySelector('#main-menu-toggler');
        const $nav = document.querySelector('#main-menu-nav');

        $burger.addEventListener('click', () => {
            $nav.toggleAttribute('data-mobile-visible');
        });
    }

    initBurger();

    document.addEventListener('astro:after-swap', initBurger);
</script>
