---
import ThemeSwitcher from "./ui/ThemeSwitcher";
---

<header class="main-header container card">
    <nav class="main-header__nav">
        <a href="/">Accueil</a>
        <a href="/blog/">Blog</a>
        <a href="/parcours/">Parcours</a>
        <a href="/contact/">Contact</a>
    </nav>

    <ThemeSwitcher client:load />
</header>

<style lang="scss">
    .main-header {
        position: sticky;
        top: var(--spacing);
        margin-block: var(--spacing) 0;
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        padding: var(--spacing) var(--spacing-lg);

        &__nav {
            display: flex;
            gap: var(--spacing);
        }
    }
</style>
