---
import { Icon } from "astro-icon/components";
---

<header>
    <nav>
        <button
            popovertarget="main-menu-nav"
            class="btn btn--variant-secondary-border">
            <div class="btn__icon">
                <Icon name="mdi:menu" />
            </div>
        </button>

        <ul id="main-menu-nav" popover>
            <li>
                <a
                    class="btn"
                    href="/">
                    Accueil
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/blog/">
                    Blog
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/parcours/">
                    Parcours
                </a>
            </li>

            <li>
                <a
                    class="btn"
                    href="/contact/">
                    Contact
                </a>
            </li>

            <button
                class="btn"
                popovertarget="main-menu-nav"
                popovertargetaction="hide">
                &times;
            </button>
        </ul>

        <theme-switcher>
            <label class="theme-switcher">
                <span class="sr-only">Dark</span>

                <span aria-hidden="true">🌚</span>

                <input
                    name="theme-switcher"
                    type="checkbox"
                    role="switch"
                    aria-label="Allumer la lumière ?"/>

                <span aria-hidden="true">🌞</span>

                <span class="sr-only">Light</span>
            </label>
        </theme-switcher>
    </nav>
</header>

<style lang="scss">
    header {
        z-index: 1000;
        position: sticky;
        top: 0;
        background-color: var(--clr-bg-transparent-blur);
        background-image: var(--bg-texture);
        backdrop-filter: blur(10px);
        border-block-end: 1px solid var(--clr-border);
        min-height: var(--header-height);

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul[popover] {
            display: flex;
            gap: var(--spacing);
            flex-direction: column;
            align-items: center;
            list-style: none;
            border: 1px solid var(--clr-border);
            background-color: var(--clr-bg-alt);
            margin: auto;
            padding: var(--spacing-xl);
            border-radius: var(--border-radius-lg);
            box-shadow: var(--shadow);

            &:not(:popover-open) {
                display: none;
            }

            &::backdrop {
                background-color: var(--clr-bg-transparent-blur);
                backdrop-filter: blur(5px);
            }

            [popovertargetaction="hide"] {
                position: absolute;
                inset: var(--spacing-sm) var(--spacing-sm) auto auto;
                padding: 0;
                font-size: 2rem;
                width: 2rem;
                height: 2rem;
                align-items: center;
            }
        }

        @media (min-width: 120ch) {
            ul[popover] {
                flex-direction: row;
                inset: unset;
                position: static!important;
                margin: 0;
                padding: 0;
                border: none;
                background-color: unset;
                box-shadow: none;
                overflow: visible;

                &:not(:popover-open) {
                    display: flex;
                }

                &::backdrop {
                    display: none;
                }
            }

            button[popovertarget] {
                display: none;
            }
        }
    }
</style>
