---
import { ClientRouter } from "astro:transitions";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import SvgFilters from "./SvgFilters.astro";
import "../styles/global.scss";

export type Props = {
    title?: string;
}

const { title = "Mon site perso" } = Astro.props;
---

<html lang="fr" transition:name="root" transition:animate="none">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator}>

        <title>{title} | Benjamin Caradeuc</title>

        <!-- sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Galindo&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- javascript -->
        <script type="module" src="https://unpkg.com/@benavern/z-carousel"></script>

        <!-- astro transitions -->
        <ClientRouter />
    </head>

    <body>
        <Header />

        <main transition:animate="fade">
            <slot />
        </main>

        <Footer />

        <SvgFilters />
    </body>
</html>

<script is:inline>
    const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    document.documentElement.setAttribute('data-theme', theme);
</script>

<script>
    import './ui/ThemeSwitcher.wc';
</script>
