---
const { title = "Mon site perso" } = Astro.props;

import "../styles/global.scss";

import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{title} | Benjamin Caradeuc</title>

        <!-- sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />
        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Galindo&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />
    </head>

    <body>
        <Header />

        <main>
            <div class="container">
                <slot />
            </div>
        </main>

        <Footer />
    </body>
</html>
