---
import Layout from "../../../components/Layout.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

// Récupérer tous les articles
const posts = await getCollection("blog");

// Extraire tous les tags et les dédoublonner
const allTags = Array.from(
    new Set(posts.flatMap((post) => post.data.tags || [])),
).sort(new Intl.Collator('fr').compare);
---

<Layout title="Tous les tags">
    <h1>Tags du blog</h1>

    {
        allTags.length === 0 ? (
            <p>Aucun tag trouvé.</p>
        ) : (
            <div class="tags-list">
                {allTags.map((tag) => (
                    <a
                        role="button"
                        class="btn btn--variant-accent-border btn--size-small btn--shape-pill"
                        href={`/blog/tags/${tag}/`}>
                        {tag}
                    </a>
                ))}
            </div>
        )
    }

    <hr>

    <a
        role="button"
        class="btn btn--variant-secondary-border btn--size-large"
        href="/blog/">
        <div class="btn__icon">
            <Icon name="mdi:arrow-left" />
        </div>

        Voir tous les articles
    </a>
</Layout>

<style lang="scss">
    .tags-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--spacing);
    }
</style>
