---
export type Props = {
    urlPrefix?: string;
    current: number;
    total: number;
}

const {
    urlPrefix = '',
    current,
    total,
    ...restAttributes
} = Astro.props
---

<nav {...restAttributes}>
    {Array.from({ length: total }, (_, i) => i + 1).map(
        (p) => (
            <a
                role="button"
                class={`btn btn--variant-secondary${p !== current ? '-border' : ''}`}
                aria-disabled={p === current ? 'true' : null}
                href={p === current ?  null : (p === 1 ? `${urlPrefix}/` : `${urlPrefix}/${p}/`)}>
                {p}
            </a>
        ),
    )}
</nav>

<style lang="scss">
    nav {
        display: flex;
        gap: var(--spacing);
        justify-content: center;
    }
</style>
